.projects {
    border-bottom: 1px solid #303030c8;
    /*height: calc(100vh - 4.375rem);*/
    height: auto;
    margin: 4.375rem auto 0;
    width: 80%;
}
.projects h2 {
    color: #eaa352;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0.3rem;
    text-align: start;
}
.projects h3 {
    color: #bbbaba;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
    padding: 0.3rem;
    text-align: start;
}
.projects-ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.projects-ul li {
    border: 2px solid rgba(2, 19, 26, 0.478);
    border-radius: 1.2rem;
    box-shadow: 0px 0px 5px 0px rgba(4, 223, 201, 0.845);
    height: 27.5rem;
    margin: 2rem 2rem 3rem;
    text-align: center;
    width: 21.5%;
}
.projects-ul li:nth-child(4n) {
    margin-right: 0;
}
.projects-ul li:nth-child(4n+1){
    margin-left: 0;
}
.projects-ul li:hover {
    opacity: 0.3;
    transition: .3s;
}
.projects-div-image {
    background-image: url(/assets/img/imagem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem 1.2rem 0 0;
    box-shadow: 0px 0px 5px 0px rgba(4, 223, 201, 0.845);
    height: 12.5rem;
}
.projects-div-description {
    color: #bbbaba;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    height: 13.125rem;
    justify-content: space-between;
    text-align: justify;
    margin: 1.2rem 1.2rem;
}
.projects-div-description p {
    height: 9.375rem;
}
.projects-div-tecnologies {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
}
.projects-div-tecnologies span {
    border: 2px solid rgba(2, 19, 26, 0.478);
    border-radius: 1.2rem;
    box-shadow: 0px 0px 5px 0px rgba(4, 223, 201, 0.845);
    color: #bbbaba;
    margin: 0.2rem;
    padding: 0.5rem;
}