body {
    font-family: 'Montserrat', sans-serif;
}

header {
    align-items: center;
    background-color: rgba(1, 14, 25);
    box-shadow: 0px 0px 10px 0px rgba(6, 6, 6, 0.886);
    display: flex;
    height: 5rem;
    justify-content: space-around;
    position: relative;
    
}

main {
    background-color: rgb(11, 17, 24);
}




